---
layout: archives-by-category
title : Design Patterns
---

		<!--
		{% for post in site.categories.designpatterns %}
			<div class="row">			
				<div class="col-md-1"> </div>
				<div class="topic-wrapper1 col-md-10">
					<div class="col-md-12 postlistheader">
						<div class="col-md-2 postlistdate">
							<div class="postlist-monthofdate col-md-4">
								{{post.date | date: "%b" }}
							</div>
							<div class="postlist-dayofdate col-md-8">
								{{post.date | date: "%d" }}
							</div>
							<div class="postlist-yearofdate col-md-12">
								{{post.date | date: "%Y" }}
							</div>

						</div>
						<div class="topic_link col-md-10">
							<a class="" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						</div>
					</div>
					<div class="topic-content-wrapper col-md-12">
			
						<div class="col-md-2">
						</div>
						<div class="topic-desc col-md-9">
							<div>
								<span >{{post.meta}}</span> 
							</div>
							<div class="col-md-12">
								<div class="col-md-9">
								</div>
								<div class="col-md-3 readmorelink-wrapper">
									<a class="readmorelink " href="{{site.baseurl}}{{post.url}}">more...</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1"> </div>
					
				</div>
				<div class="col-md-1"> </div>
			</div>
		
		{% endfor %}
		-->
	<!--
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<div class="panel-group" id="patternslist">
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="creationallist">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#patternslist" href="#creationaltable" aria-expanded="false">
							Creational design patterns
						</a>
					</h4>
				</div>
				<div id="creationaltable" class="panel-collapse collapse" role="tabpanel">
					<div class="panalel-body">
						<div class="list-wrapper">
						<ul class="list-group">
						{% for post in site.categories.creationaldesignpatterns %}
							<li class="list-group-item">{{post.title}}</li>		
						{% endfor %}
						</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="structurallist">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#patternslist" href="#structuraltable" aria-expanded="false">
							Structural design patterns
						</a>
					</h4>
				</div>
				<div id="structuraltable" class="panel-collapse collapse" role="tabpanel">
					<div class="panalel-body">
					<ul class="list-group">
					{% for post in site.categories.structuraldesignpatterns %}
						<li class="list-group-item">{{post.title}}</li>		
					{% endfor %}
					</ul>
					</div>
				</div>
			</div>	
			<div class="panel panel-info">
				<div class="panel-heading" role="tab" id="behaviourallist">
					<h4 class="panel-title">
						<a role="button"  data-toggle="collapse" data-parent="#patternslist" href="#behaviouraltable" aria-expanded="true">
							Behavioural design patterns
						</a>
					</h4>
				</div>
				<div id="behaviouraltable" class="panel-collapse collapse in" role="tabpanel">
					<div class="panalel-body">
						<ul class="list-group">
						{% for post in site.categories.behaviouraldesignpatterns %}
							<li class="list-group-item">{{post.title}}</li>		
						{% endfor %}
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="col-md-2">
	</div>
	-->
	
	<div class="col-md-12">
		<h3>a. Creational Design Patterns</h3>
		<ol>
		{% for post in site.categories.creationaldesignpatterns %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>		
		{% endfor %}
		</ol>
		
		<h3>b. Structural Design Patterns</h3>
		<ol>
		{% for post in site.categories.structuraldesignpatterns %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ol>
		
		<h3>c. Behavioural Design Patterns</h3>
		<ol>
		{% for post in site.categories.behaviouraldesignpatterns %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ol>

	</div>
	
					