---
layout: default
title : Topics
---
		<div class="topics-list col-md-10">
		<ul>
		{% for post in site.categories.java %}
			<li>	
				<a class="" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
			</li>
		{% endfor %}

		{% for post in site.categories.spring %}
			<li>	
				<a class="" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
			</li>
		{% endfor %}
									    
		{% for post in site.categories.designpatterns %}
			<li>	
				<a class="" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
			</li>
		{% endfor %}
		
		</ul>
	</div>