---
layout: archives-by-category
title : Spring Topics
---

<!-- <h1 class="center"> Topics </h1> -->
<table class="table">
	<thead>
		<tr>
			<td> Spring Topics </td>
			<td> Description <td>
		</tr>
	</thead>
	<tbody>
	{% for post in site.categories.springcore %}
			<div class="row">			
				<div class="col-md-2"> </div>				
				<div class="topic-wrapper1 col-md-8">
					
					<div class="topic-image col-md-4">
						{% assign timage = 'no-image.JPG' %}
						{% if post.topic-image %}
							{% assign timage = post.topic-image %}
						{% endif %}
						<img class="img-thumbnail" src="{{site.baseurl}}/resources/images/{{timage}}" width="100%" height="100%"/>
					</div>
					<div class="topic-content-wrapper col-md-8">
						<div class="topic_link ">
							<a class="topic_link" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						</div>
						<div class="topic-desc">
							<span >{{post.meta}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-2"> </div>
			</div>
		
		{% endfor %}
		<!--
		<tr>
		<td><a class="topic_link" href="">Spring Core Interview Questions</a></td><td class="topic-desc"></td>
		</tr>
		<tr>
		<td><a class="topic_link" href="">Spring Beans Interview Questions</a></td class="topic-desc"><td></td>
		</tr>
		<tr>
		<td><a class="topic_link" href="">Spring MVC Interview Questions</a></td><td class="topic-desc"></td>
		</tr>
		-->
	</tbody>
</table>



