---
layout: archives-by-category
title : Spring Topics
---

<!-- <h1 class="center"> Topics </h1> -->

	{% for post in site.categories.springcore %}
			<div class="row">			
				<div class="col-md-1"> </div>
				<div class="topic-wrapper1 col-md-10">
					<div class="col-md-12 postlistheader">
						<div class="col-md-2 postlistdate">
							<div class="postlist-monthofdate col-md-4">
								{{post.date | date: "%b" }}
							</div>
							<div class="postlist-dayofdate col-md-8">
								{{post.date | date: "%d" }}
							</div>
							<div class="postlist-yearofdate col-md-12">
								{{post.date | date: "%Y" }}
							</div>

						</div>
						<div class="topic_link col-md-10">
							<a class="" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						</div>
					</div>
					<div class="topic-content-wrapper col-md-12">
						<!--
						<div class="topic_link ">
							<a class="topic_link" href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
						</div>
						-->
						<div class="col-md-2">
						</div>
						<div class="topic-desc col-md-9">
							<div>
								<span >{{post.meta}}</span> 
							</div>
							<div class="readmorelink">
								<a class="" href="{{site.baseurl}}{{post.url}}"> Read more...</a>
							</div>
						</div>
					</div>
					<div class="col-md-1"> </div>
					<!--
					<div class="topic-image col-md-4">
						{% assign timage = 'no-image.JPG' %}
						{% if post.topic-image %}
							{% assign timage = post.topic-image %}
						{% endif %}
						<img class="img-thumbnail" src="{{site.baseurl}}/resources/images/{{timage}}" width="100%" height="100%"/>
					</div>
					-->
					
				</div>
				<div class="col-md-1"> </div>
			</div>
		
		{% endfor %}
		


