			<div class="content-wrapper row">
				<div class="col-md-1 side-bar-right">		
					
				</div>
				<div class="col-md-10 main-content">
						<div class="col-md-12 nav-button">
								<h4><a href="/"><span class="glyphicon glyphicon-triangle-left">  </span> Back to topics </a></h4>{{site.baseurl}}
						</div>
						<div class="col-md-12 posttitle">
							<h1>{{page.title}}</h1>
						</div>
						<div class="col-md-12">
							<p>
							{{content}}
							</p>
						</div>
				</div>
				<div class="col-md-1 side-bar-right">
					
				</div>
			</div>