			<div class="col-md-12 footer-top">
			</div>
			<div class="col-md-12  footer-content">
			
			<small> Copyright &copy;2016 <a href="https://www.javaforlazyreaders.com">javaforlazyreaders.com </a></small>
			<p> Designed by <strong class="">Deepak Reddy Sama</strong>  all copy rights reserved </p>
			</div>
			<!--
			<ul>
			{% for page in site.pages %}
				{% if page.title != 'none' %}
				<li>{{page.title}}:{{page.url}}</li>
				{% endif %}
			{% endfor %}
			</ul>
			-->
					
			<div class="col-md-12 footer-bottom">
			</div>

			<script src="{{site.baseurl}}/resources/bootstrap/js/jquery-3.1.1.min.js"></script>
			<script src="{{site.baseurl}}/resources/bootstrap/js/bootstrap.min.js"></script>	
			<script src="{{site.baseurl}}/resources/bootstrap/js/bootstrap.min.js"></script>	
			<script src="{{site.baseurl}}/resources/custom/js/scripts.js"></script>


