			<div class="header-cap col-md-12">
			</div>
			<div class="header-content col-md-12">
				<div class="col-md-2">
				<h1>  </h1>
				</div>
				<div class="col-md-10">
					<div class="col-md-6">
						<h1><a href="/"> Java for lazy readers</a></h1>
					</div>
					<div class="col-md-6 aboutmelink">
						{% unless page.url contains 'about.html' %}
						<h4><a href="/about.html"> About Me</a></h4>
						{% endunless %}
					</div>
					
				</div>

			</div>
			<div class="header-bottom col-md-12">
			</div>