		<meta charset="utf-8"/>
		<title> {% if page.title %} {{page.title}} {% endif %}</title>
		<link href="{{site.baseurl}}/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{site.baseurl}}/resources/custom/css/rougestyles.css" type="text/css" rel="stylesheet"/>	
		<link href="{{site.baseurl}}/resources/custom/css/stylesheet.css" type="text/css" rel="stylesheet"/>	
		
		<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather:400,900" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
		
		<link href="https://fonts.googleapis.com/css?family=Domine|Fredericka+the+Great|Great+Vibes|Kaushan+Script|Nixie+One|Sacramento|Tangerine" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bilbo+Swash+Caps|Chau+Philomene+One|Italianno|Kranky|Parisienne|Qwigley" rel="stylesheet">
		