			<div class="content-wrapper row">
				<div class="col-md-1 side-bar-left">				
					
				</div>
				<div class="col-md-10 main-content">
						<div class="col-md-12 nav-button">								
							{% if page.url contains 'java' %} 
								{% assign my_var = 'javatopics.html' %}
							{% endif %}
							{% if page.url contains 'spring' %} 
								{% assign my_var = 'springtopics.html' %}
							{% endif %}
							{% if page.url contains 'designpatterns' %} 
								{% assign my_var = 'designpatterns.html' %}
							{% endif %}
							{% if page.url contains 'web-service' %} 
								{% assign my_var = 'webservices.html' %}
							{% endif %}
							<h4><a href="/{{my_var}}">
								<span class="glyphicon glyphicon-triangle-left">  </span> Previous 
								</a>
							</h4>
						</div>
						<hr>
						<div class="col-md-12 posttitle">							
							<h1>{{page.title}}</h1>
							
						</div>
						<hr>
						<div class="col-md-12">
							<p>
							{{content}}
							</p>
						</div>
				</div>
				<div class="col-md-1 side-bar-right">
					
				</div>
			</div>
