---
title: none
---

/*
	Header related
*/

body, html {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	
	font-size:15px;
	width:100%;
}

header h1 {
	font-family: 'Tangerine', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Fredericka the Great', cursive;
}

header h1 a, header h1 a:hover, header h1 a:visited{
	text-decoration:none;
	color:#b63b4d;
}

h1,h2,h3 {
	/*font-family: 'Rancho', cursive;
	font-family: 'Lato', sans-serif;*/
	font-family: 'Rochester', cursive;
	font-family: 'Kaushan Script', cursive;
	font-family: 'Domine', serif;
}

h1{
	
	font-size:50px;
	/*
	font-weight:bold;
	line-height:75px;
	*/
	width: 100%;
    height: auto;
	 display:block;       
    -webkit-transition: .2s height linear;
    -moz-transition: .2s height linear;
    -o-transition: .2s height linear;
    transition: .2s height linear;
}

.main-content h1{
	text-align:center;
}

table thead tr td {
	/*background-color:#77768c;*/
	color:#444359;
	font-weight:bold;
	font-size:20px;
}

.header-cap {
	
	height:2px;
	background:#b63b4d;
}

.header-content {
	height:25%;
	border-bottom:1px solid #ccc;
}
.header-bottom {
	/*height:2px;*/
	border-bottom:2px dashed #444359;
	/*
	background-color:#eee;
	background-color:#444359;
	background-color:#b63b4d;
	*/
}

.page-wrapper {
	min-height:100%;
	position:relative;
}
.container-fluid {
	margin:0;
	padding:0;
}
.content-wrapper {
	border-top:1px solid #ccc;
	margin-bottom:200px;
	padding:25px 0;
	width:100%;
}

.nav-button a{
	padding:10px 0 0 0;
	text-decoration:none;
	display:block;
}

.topic_link, .topic_link:hover, .topic_link:active, .topic_link.visited{
	text-decoration:none;
}

.posttitle {
	text-align:center;
	padding:0;
}

.posttitle h1{
	margin:0;
}

.aboutmelink a,.aboutmelink a:active,.aboutmelink a:hover,.aboutmelink a:visited{
	text-decoration:none;
}
/*
.header-bottom {
	height:3px;
	background:#444359;
}
*/


/*
	Footer
*/
{% include css/footer.css %}

/*
	Right side bar
*/
{% include css/sidebar-right.css %}


.box {
	border:1px solid red;
}
.center {
	text-align:center;	
}



/*
.footer-content {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:#333;
	height:15%;
}
*/