header {
	background-color:#000;	
}

header h1 {
	font-weight:bold;
	
	font-family: 'Tangerine', cursive;
	font-family: 'Great Vibes', cursive;
	font-family: 'Sacramento', cursive;
	font-family: 'Fredericka the Great', cursive;
	font-family: 'Parisienne', cursive;
	font-family: 'Italianno', cursive;
	font-family: 'Kranky', cursive;
	font-family: 'Bilbo Swash Caps', cursive;
	font-family: 'Chau Philomene One', sans-serif;
	font-family: 'Amatic SC', cursive;
	
}

header h1 a, header h1 a:hover, header h1 a:visited{
	text-decoration:none;
	color:#b63b4d;
	color:rgba(247, 201, 58,1);
	color:rgba(228, 78, 64,.9);
	color:rgba(99, 177, 117,.9);
	/*color:black;*/
}

.header-cap {
	
	height:2px;
	background:#b63b4d;
	background:rgba(247, 201, 58,1);
	background:rgba(228, 78, 64,.9);
	background:rgba(99, 177, 117,.9);
}

.header-content {
	height:30%;
	/*background-color:#000;*/
	/*background-color:#000;*/
	background-image: url('{{ site.baseurl }}/resources/images/header/headerbg.jpg');
	background-size:100%;
	/* border-bottom:1px solid #ccc;*/
}

.header-bottom {
	/*height:6%;*/
	/*border-bottom:2px dashed #444359;*/
	margin:0;
	padding:0;
	background-color:#444359;
	background-color:rgba(182, 59, 77,.9);
	background-color:rgba(228, 78, 64,1);
	background-color:rgba(99, 177, 117,1);
	/*background-color:black;*/
	/*border-top:4px solid rgba(247, 201, 58,.6);*/
	/*background-color:rgba(247, 201, 58,1);*/	
}
