
.side-bar-right .aboutme{	
	padding:5px;
	margin:10px 0;
	
}
.side-bar-right {
	text-align:center;
	hight:300px;
}
.profileimage {
	height:150px;
	padding:5px;
	border:1px solid #bbb;
}
.aboutmedesc{
	margin-top:10px;
	text-align:justify;
	font-style:italic;
	font-family: 'Nixie One', cursive;
	color:black;
}
